@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.header-hero {
  background-image: url(./images/hero-sec-bg.png);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

li {
  padding-left: 0.8rem;
  font-size: 18px;
}
